.pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.text {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 22px;
    border-bottom: 1px solid  #F1F2F5;
    padding: 16px;
}

.description {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 22px;
    border-bottom: 1px solid  #F1F2F5;
    padding: 16px;
}

.preload {
    margin-top: 40%;
}

@media (min-width: 280px) and (max-width: 380px) {
    .main_page {
        width: 330px;
    }
}

@media (min-width: 385px) and (max-width: 500px) {
    .b {
        width: 365px;
        margin: 35px 0 44px 0;
    }
}