.content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    width: 360px;
}

.block {
    display: flex;
    flex-direction: column;
    margin: 8px 0 5px 0;
}

.info_content {
    margin-right: -35px;
    white-space: pre-line;
}

.info {
    color: #6F6F6F;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 105px;
    width: 328px;
}

.desc {
    font-family: 'Roboto';
    font-size: 14px;
    color: #6F6F6F;
}