.content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    width: 360px;
}

.block {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 5px 0;
}

.info_content {
    width: 150px;
    margin-right: -35px;
    white-space: pre-line;
}

.info {
    color: #6F6F6F;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.desc {
    font-family: 'Roboto';
    font-size: 14px;
    color: #6F6F6F;
}